#set($test=0)
#set($layout="main")

<section class="mo-index">
	<div class="mo-wrap" id="index-mos">		
		<ul class="molist">
		#if($molist)
		#set($invisible=true)
		#foreach($mo in $molist)
		#parse("../modules/mo-index.vm")
		#end
		#set($invisible=false)
		#end
		</ul>
		<span class="loading"></span>
	</div>
</section>

<script>
$(function() {
	var $wrap = $("#index-mos");
	
});
console.log(_);
</script>