#set($test=0)
#set($layout="main")

<section class="mo-index">
	<div class="mo-wrap" id="index-mos">		
		<ul class="js-list molist">
		#parse("../parts/index/molist-news.vm")
		</ul>
		<span class="js-loading molist-loading"><span class="icon-loading-32"></span> 正在加载……</span>
	</div>
</section>