#set($layout="main")

<section>
	<div class="row">
		<div class="span12">
			<ul class="thumbnails">
				<li class="span2">
					<div class="thumbnail">
						<span class="photo"><a href="/mos/1"><img src="http://photo2.idate.163.com/album/29/73/1/33bbe9064fb17bbed74eda6c90dda2f5/16740173//lit/PORTRAIT_CERT" width="170" alt=""></a></span>
						<div class="line">
							<h5 class="title">缩略项标签</h5>
							<span class="meta">[12张]</span>
						</div>
						<div class="author">
							<span class="avator"><img src="http://tp2.sinaimg.cn/1773416981/50/5657181123/0" /></span>
							<span class="data">
								<a href="/users/1">昵称</a> 于2012年12月21日分享
							</span>
						</div>
					</div>
				</li>
				<li class="span2">
					<div class="thumbnail">
						<span class="photo"><a href="/mos/1"><img src="http://photo2.idate.163.com/album/29/73/1/33bbe9064fb17bbed74eda6c90dda2f5/16740173//lit/PORTRAIT_CERT" width="170" alt=""></a></span>
						<div class="line">
							<h5 class="title">缩略项标签</h5>
							<span class="meta">[12张]</span>
						</div>
						<div class="author">
							<span class="avator"><img src="http://tp2.sinaimg.cn/1773416981/50/5657181123/0" /></span>
							<span class="data">
								<a href="/users/1">昵称</a> 于2012年12月21日分享
							</span>
						</div>
					</div>
				</li>
				<li class="span2">
					<div class="thumbnail">
						<span class="photo"><a href="/mos/1"><img src="http://photo2.idate.163.com/album/29/73/1/33bbe9064fb17bbed74eda6c90dda2f5/16740173//lit/PORTRAIT_CERT" width="170" alt=""></a></span>
						<div class="line">
							<h5 class="title">缩略项标签</h5>
							<span class="meta">[12张]</span>
						</div>
						<div class="author">
							<span class="avator"><img src="http://tp2.sinaimg.cn/1773416981/50/5657181123/0" /></span>
							<span class="data">
								<a href="/users/1">昵称</a> 于2012年12月21日分享
							</span>
						</div>
					</div>
				</li>
				<li class="span2">
					<div class="thumbnail">
						<span class="photo"><a href="/mos/1"><img src="http://photo2.idate.163.com/album/29/73/1/33bbe9064fb17bbed74eda6c90dda2f5/16740173//lit/PORTRAIT_CERT" width="170" alt=""></a></span>
						<div class="line">
							<h5 class="title">缩略项标签</h5>
							<span class="meta">[12张]</span>
						</div>
						<div class="author">
							<span class="avator"><img src="http://tp2.sinaimg.cn/1773416981/50/5657181123/0" /></span>
							<span class="data">
								<a href="/users/1">昵称</a> 于2012年12月21日分享
							</span>
						</div>
					</div>
				</li>
				<li class="span2">
					<div class="thumbnail">
						<span class="photo"><a href="/mos/1"><img src="http://photo2.idate.163.com/album/29/73/1/33bbe9064fb17bbed74eda6c90dda2f5/16740173//lit/PORTRAIT_CERT" width="170" alt=""></a></span>
						<div class="line">
							<h5 class="title">缩略项标签</h5>
							<span class="meta">[12张]</span>
						</div>
						<div class="author">
							<span class="avator"><img src="http://tp2.sinaimg.cn/1773416981/50/5657181123/0" /></span>
							<span class="data">
								<a href="/users/1">昵称</a> 于2012年12月21日分享
							</span>
						</div>
					</div>
				</li>
				<li class="span2">
					<div class="thumbnail">
						<span class="photo"><a href="/mos/1"><img src="http://photo2.idate.163.com/album/29/73/1/33bbe9064fb17bbed74eda6c90dda2f5/16740173//lit/PORTRAIT_CERT" width="170" alt=""></a></span>
						<div class="line">
							<h5 class="title">缩略项标签</h5>
							<span class="meta">[12张]</span>
						</div>
						<div class="author">
							<span class="avator"><img src="http://tp2.sinaimg.cn/1773416981/50/5657181123/0" /></span>
							<span class="data">
								<a href="/users/1">昵称</a> 于2012年12月21日分享
							</span>
						</div>
					</div>
				</li>
				<li class="span2">
					<div class="thumbnail">
						<span class="photo"><a href="/mos/1"><img src="http://photo2.idate.163.com/album/29/73/1/33bbe9064fb17bbed74eda6c90dda2f5/16740173//lit/PORTRAIT_CERT" width="170" alt=""></a></span>
						<div class="line">
							<h5 class="title">缩略项标签</h5>
							<span class="meta">[12张]</span>
						</div>
						<div class="author">
							<span class="avator"><img src="http://tp2.sinaimg.cn/1773416981/50/5657181123/0" /></span>
							<span class="data">
								<a href="/users/1">昵称</a> 于2012年12月21日分享
							</span>
						</div>
					</div>
				</li>
				<li class="span2">
					<div class="thumbnail">
						<span class="photo"><a href="/mos/1"><img src="http://photo2.idate.163.com/album/29/73/1/33bbe9064fb17bbed74eda6c90dda2f5/16740173//lit/PORTRAIT_CERT" width="170" alt=""></a></span>
						<div class="line">
							<h5 class="title">缩略项标签</h5>
							<span class="meta">[12张]</span>
						</div>
						<div class="author">
							<span class="avator"><img src="http://tp2.sinaimg.cn/1773416981/50/5657181123/0" /></span>
							<span class="data">
								<a href="/users/1">昵称</a> 于2012年12月21日分享
							</span>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>

<script>
console.log(_);
</script>