<footer id="footer">
	<nav>
		<ul>
			<li>&copy; Mogoo版权所有</li>
			<li><a href="#">关于我们</a></li>
			<li><a href="#">意见反馈</a></li>
			<li><a href="#">投诉建议</a></li>
			<li><a href="#">联系我们</a></li>
			<li>粤备：11111111</li>
		</ul>
	</nav>
</footer>
#parse("../windows/fixed-top.vm")