<li id="mo$mo.get("mid")" class="js-block moblock"><!--#if($invisible) invisible#end-->
	<div class="mowrap">
		<div class="photo"><a href="$mo.get("link")"><img src="$mo.get("cover")" width="225" alt="$mo.get("title")" class="js-cover" /></a></div>
		<div class="title-line">
			<h5 class="title"><a href="$mo.get("link")">$mo.get("title")</a></h5>
			<span class="meta">[$mo.get("photoCount")张]</span>
		</div>
		<div class="shop">
			<a href="$mo.get("shop").get("link")"><span class="icon-shop-$mo.get("shop").get("en")"></span> $mo.get("shop").get("price")元</a>
		</div>
		<div class="author">
			<span class="avator"><a href="$mo.get("user").get("link")"><img src="$mo.get("user").get("avatar")" width="30" height="30" /></a></span>
			<span class="data">
				<a href="$mo.get("user").get("link")">$mo.get("user").get("nick")</a><br />
				#ParseTime($mo.get("createTime"), "yy年MM月dd日 HH:mm")分享
			</span>
		</div>
	</div>
</li>