<nav id="header-guibar" class="guibar">
	<div class="guibar-warp">
		<div class="guibar-content">
			
			<div class="guibar-collapse">
				<ul class="guibar-type">
					<li class="guibar-type-cell">
						<h2><a href="/dongman/mos"><span class="icon-mos-1"></span>动漫</a></h2>
						<ul class="guibar-type-name">
							<li><a href="/dongman/1/mos">变形金刚</a></li>
							<li><a href="/dongman/1/mos">变形金刚</a></li>
							<li><a href="/dongman/1/mos">变形金刚</a></li>
							<li><a href="/dongman/1/mos">变形金刚</a></li>
							<li><a href="/dongman/1/mos">变形金刚</a></li>
							<li><a href="/dongman/1/mos">变形金刚</a></li>
						</ul>
					</li>
					<li class="guibar-type-cell">
						<h2><a href="/dongman/mos"><span class="icon-mos-2"></span>游戏</a></h2>
						<ul class="guibar-type-name">
							<li><a href="/dongman/1/mos">变形金刚</a></li>
							<li><a href="/dongman/1/mos">变形金刚</a></li>
							<li><a href="/dongman/1/mos">变形金刚</a></li>
							<li><a href="/dongman/1/mos">变形金刚</a></li>
							<li><a href="/dongman/1/mos">变形金刚</a></li>
							<li><a href="/dongman/1/mos">变形金刚</a></li>
						</ul>
					</li>
					<li class="guibar-type-cell">
						<h2><a href="/dongman/mos"><span class="icon-mos-3"></span>品牌</a></h2>
						<ul class="guibar-type-name">
							<li><a href="/dongman/1/mos">变形金刚</a></li>
							<li><a href="/dongman/1/mos">变形金刚</a></li>
							<li><a href="/dongman/1/mos">变形金刚</a></li>
							<li><a href="/dongman/1/mos">变形金刚</a></li>
							<li><a href="/dongman/1/mos">变形金刚</a></li>
							<li><a href="/dongman/1/mos">变形金刚</a></li>
						</ul>
					</li>
					<li class="guibar-type-cell">
						<h2><a href="/dongman/mos"><span class="icon-mos-4"></span>电影</a></h2>
						<ul class="guibar-type-name">
							<li><a href="/dongman/1/mos">变形金刚</a></li>
							<li><a href="/dongman/1/mos">变形金刚</a></li>
							<li><a href="/dongman/1/mos">变形金刚</a></li>
							<li><a href="/dongman/1/mos">变形金刚</a></li>
							<li><a href="/dongman/1/mos">变形金刚</a></li>
							<li><a href="/dongman/1/mos">变形金刚</a></li>
						</ul>
					</li>
					<li class="guibar-type-cell">
						<h2><a href="/dongman/mos"><span class="icon-mos-5"></span>原创</a></h2>
						<ul>
							<li><a href="/dongman/1/mos">变形金刚</a></li>
							<li><a href="/dongman/1/mos">变形金刚</a></li>
							<li><a href="/dongman/1/mos">变形金刚</a></li>
							<li><a href="/dongman/1/mos">变形金刚</a></li>
							<li><a href="/dongman/1/mos">变形金刚</a></li>
							<li><a href="/dongman/1/mos">变形金刚</a></li>
						</ul>
					</li>
					<li class="guibar-type-cell">
						<h2><a href="/dongman/mos"><span class="icon-mos-6"></span>分类</a></h2>
						<ul class="guibar-type-name">
							<li><a href="/dongman/1/mos">变形金刚</a></li>
							<li><a href="/dongman/1/mos">变形金刚</a></li>
							<li><a href="/dongman/1/mos">变形金刚</a></li>
							<li><a href="/dongman/1/mos">变形金刚</a></li>
							<li><a href="/dongman/1/mos">变形金刚</a></li>
							<li><a href="/dongman/1/mos">变形金刚</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<span class="guibar-handle"><a href="#">把手</a></span>
			
		</div>
	</div>
</nav>