<header id="header" class="header">
	<nav class="navbar">
		<div class="navbar-content">
			<h1 class="navbar-logo"><a class="icon-logo" href="/" title="模宫">模宫</a></h1>
			<ul class="navbar-nav">
				<li><a href="/news">最新</a></li>
				<li><a href="/hots">热门</a></li>
			</ul>
			<form class="navbar-search">
				<input class="key" type="text" name="key" />
				<button class="submit" type="submit">
					<span class="icon-search"></span>
					<span class="text">搜索<span>
				</button>
			</form>
			<ul class="navbar-member">
				<li><a href="/login">登录</a></li>
				<li><a href="/register">注册</a></li>
			</ul>
		</div>
	</nav>
	#parse("../parts/gui.vm")
</header>